Repository lingvocoder/Angular-learnjs-030723: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npx eslint

.lintstagedrc.json:

{
    "*.{ts,js}": ["npm run prettier:fix", "npx eslint", "git add"],
    "*.json": ["npm run prettier:fix", "git add"]
}

update prettier
  .prettierrc.js
  .prettierrc.json
  package-lock.json
  package.json
Due: npm run prettier:fix, npx eslint

run prettier for all files
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/index.html
  src/main.ts
Due: npm run prettier:fix, npx eslint

update eslint config
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  package-lock.json
  package.json
Due: npm run prettier:fix, npx eslint

update lint-staged config
  .lintstagedrc.json
Due: npm run prettier:fix

update editor config
  .editorconfig
Due: none

fix eslint errors
  src/app/app.component.html
  src/app/app.component.spec.ts
Due: npm run prettier:fix, npx eslint

pre lecture 2
  .husky/pre-commit
  src/app/app.component.html
Due: none

[fix]: Add linter config from airbnb and add rules tp prettier config
  .eslintrc.json
  .prettierrc.json
Due: npm run prettier:fix

feat: add commitlint
  commitlint.config.js
  package-lock.json
  package.json
Due: npm run prettier:fix, npx eslint

feat: add commit msg hook
  .husky/commit-msg
Due: none

feat: add angular material
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/index.html
  src/styles.css
Due: npm run prettier:fix, npx eslint

feat: lecture 2
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/header/header.component.css
  src/app/components/header/header.component.html
  src/app/components/header/header.component.spec.ts
  src/app/components/header/header.component.ts
  src/app/components/header/header.module.ts
  src/app/pages/products-list/card/README.md
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.spec.ts
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/products/product-image.interface.ts
  src/app/shared/products/product.interface.ts
  src/app/shared/products/product.mock.ts
  src/index.html
Due: npm run prettier:fix, npx eslint

feat: lecture 2 homework
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix, npx eslint

chore: sanitize project
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.ts
  src/index.html
Due: npm run prettier:fix, npx eslint

chore: pre lecture 3
  src/app/app.component.css
  src/app/pages/products-list/products-list.component.css
  src/app/shared/application-config/application-config.interface.ts
  src/app/shared/application-config/application-config.mock.ts
Due: npm run prettier:fix, npx eslint

feat: lecture 3
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.ts
  src/app/components/sidenav/sidenav.component.css
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/components/sidenav/sidenav.module.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.ts
  src/app/shared/application-config/application-config.mock.ts
Due: npm run prettier:fix, npx eslint

chore: update for easy work homework
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/shared/products/product.mock.ts
  src/app/shared/products/products.mock.ts
Due: npm run prettier:fix, npx eslint

feat: lecture 3 homework
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prettier:fix, npx eslint

feat: add product item card
  src/app/pages/products-list/card/product-card.component.css
  src/app/pages/products-list/card/product-card.component.html
  src/app/pages/products-list/card/product-card.component.spec.ts
  src/app/pages/products-list/card/product-card.component.ts
Due: npm run prettier:fix, npx eslint

fix: fix button, app-product-card, event handler, property binding
  src/app/pages/products-list/card/product-card.component.css
  src/app/pages/products-list/card/product-card.component.html
  src/app/pages/products-list/card/product-card.component.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix, npx eslint

feat: lecture 4
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/header/header.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prettier:fix, npx eslint

feat: add homework stand
  src/app/app.component.html
  src/app/app.component.ts
Due: npm run prettier:fix, npx eslint

feat: lecture 4 homework
  src/app/app.component.html
  src/app/app.module.ts
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.spec.ts
  src/app/components/popup-host/popup-host.component.ts
  src/app/components/popup-host/popup-host.module.ts
Due: npm run prettier:fix, npx eslint

feat: add input properties to card component
  src/app/app.component.ts
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prettier:fix, npx eslint

chore: sanitize project
  src/app/app.component.html
  src/app/app.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prettier:fix, npx eslint

feat: lecture 5
  src/app/app.component.html
  src/app/app.module.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/carousel/carousel-context.interface.ts
  src/app/shared/carousel/carousel.directive.spec.ts
  src/app/shared/carousel/carousel.directive.ts
  src/app/shared/carousel/carousel.module.ts
  src/app/shared/dump-ng-if/dump-ng-if.directive.spec.ts
  src/app/shared/dump-ng-if/dump-ng-if.directive.ts
  src/app/shared/dump-ng-if/dump-ng-if.module.ts
  src/app/shared/insert-shadow/insert-shadow.directive.spec.ts
  src/app/shared/insert-shadow/insert-shadow.directive.ts
  src/app/shared/insert-shadow/insert-shadow.module.ts
Due: npm run prettier:fix, npx eslint

fix: add typying to output Event, simplify ternary expression
  src/app/pages/products-list/card/card.component.ts
Due: npm run prettier:fix, npx eslint

feat: add infinity scroll stand
  src/app/components/sidenav/sidenav.component.css
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
Due: none

feat: add scroll with loading directive
  src/app/shared/scroll-with-loading/border-offset.const.ts
  src/app/shared/scroll-with-loading/load-direction.const.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.spec.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.module.ts
  src/app/shared/scroll-with-loading/utils/is-scroll-reached-bottom-offcet.ts
  src/app/shared/scroll-with-loading/utils/is-scroll-reached-top-offcet.ts
Due: npm run prettier:fix, npx eslint

feat: apply scroll with loading directive
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix, npx eslint

fix: remove object from output property, remove type from readonly property in appComponent
  src/app/app.component.ts
  src/app/components/popuphost/popuphost.component.css
  src/app/components/popuphost/popuphost.component.html
  src/app/components/popuphost/popuphost.component.spec.ts
  src/app/components/popuphost/popuphost.component.ts
  src/app/components/popuphost/popuphost.module.ts
  src/app/pages/products-list/card/card.component.ts
Due: npm run prettier:fix, npx eslint

feat: sanitize project
  src/app/app.component.html
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix, npx eslint

feat: lecture 6
  angular.json
  src/app/app.component.ts
  src/app/components/header/header.component.ts
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prettier:fix, npx eslint

feat: add template for homework
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
Due: none

feat: add pagination directive
  package-lock.json
  package.json
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/pagination/pagination-context.interface.ts
  src/app/shared/pagination/pagination.directive.spec.ts
  src/app/shared/pagination/pagination.directive.ts
  src/app/shared/pagination/pagination.module.ts
Due: npm run prettier:fix, npx eslint

feat: add modal window toggler
  src/app/app.component.html
  src/app/app.module.ts
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.spec.ts
  src/app/components/popup-host/popup-host.component.ts
  src/app/components/popup-host/popup-host.module.ts
Due: npm run prettier:fix, npx eslint

fix: remove animation from modal window
  src/app/app.component.html
  src/app/components/popup-host/popup-host.component.css
Due: none

chore: sanitize project
  src/app/app.component.ts
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prettier:fix, npx eslint

feat: lecture 7
  src/app/app.module.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/base-url/base-url.const.ts
  src/app/shared/base-url/base-url.token.ts
  src/app/shared/currency/currency.module.ts
  src/app/shared/currency/currency.pipe.spec.ts
  src/app/shared/currency/currency.pipe.ts
  src/app/shared/currency/currency.ts
  src/app/shared/my-async/my-async.module.ts
  src/app/shared/my-async/my-async.pipe.spec.ts
  src/app/shared/my-async/my-async.pipe.ts
  src/app/shared/products/products-api.service.ts
  src/app/shared/products/products-store.service.ts
Due: npm run prettier:fix, npx eslint

feat: add homework stand
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prettier:fix, npx eslint
